build
transform
node_modules
resources/scripts/*.map
resources/scripts/*.js
!resources/scripts/edition.js
!resources/scripts/browse.js
resources/lib/
resources/css/leaflet/
resources/css/prismjs
resources/css/tom-select
resources/css/gridjs
resources/css/pagedjs
resources/css/tify
resources/css/fore.css
resources/css/toastify.css
resources/css/vars.css
resources/images/openseadragon
resources/images/leaflet
resources/i18n/common

cypress/screenshots
cypress/videos
