<html>
    <head data-template="lib:include" data-template-path="templates/header.html">
        <script data-target="script-preload" src="resources/scripts/edition.js"/>
        <script data-target="script-preload" src="resources/scripts/browse.js"/>
    </head>
<body>
    <pb-page data-template="pages:pb-page" unresolved="unresolved" theme="resources/css/components.css" locales="resources/i18n" supported-languages="en,fr">
        <pb-document id="document1" data-template="pages:pb-document"/>
        <app-drawer-layout force-narrow="force-narrow">
            <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
            <app-header-layout>
                <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                    <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                    <app-toolbar data-template="lib:include" data-template-path="templates/toolbar.html"/>
                </app-header>
                <pb-drawer toggle="tocToggle" class="toc" emit="toc" subscribe="transcription">
                    <div class="drawer-content">
                        <pb-load id="toc" url="api/variants/{doc}" expand="expand" src="document1" 
                            subscribe="toc" emit="panels" load-once="load-once"><pb-i18n key="dialogs.loading">Loading</pb-i18n></pb-load>
                    </div>
                </pb-drawer>
                <div class="content-body">
                <section class="title">
                    <pb-collapse>
                        <div slot="collapse-trigger">
                            <h3 data-template="app:tale-title"/>
                        </div>
                        <pb-view slot="collapse-content" src="document1" view="single" xpath="//teiHeader">
                            <pb-param name="header" value="metadata-all"/>
                        </pb-view>
                    </pb-collapse>
                </section>
                <main class="edition" data-template="app:create-panels">
                </main>
                </div>
            </app-header-layout>
        </app-drawer-layout>
    </pb-page>
    <div class="splash"/>
</body>
</html>