<html>
     <head data-template="lib:include" data-template-path="templates/header.html"/>
    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" theme="resources/css/components.css" locales="resources/i18n" supported-languages="en,fr" url-ignore="view,odd">
            <pb-document id="document1" data-template="pages:pb-document"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                    </app-header>
                    <main class="content-body">
                        <pb-view id="view1" src="document1" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription" use-language="use-language"/>
                    </main>
                </app-header-layout>
                <footer data-template="templates:include" data-template-path="templates/footer.html"/>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>