#content .content {
    display:flex;
    width: 93%;
    margin: auto;
}


#toc {
    width: 18%;
    background-color: var(--pb-toolbar-background-color);
    top: 8rem;
    
}

#toc ul {
    list-style: none;
    padding: 0 0 0 1rem ;
    margin: 0;
}

.list .list {
    margin-left: 3rem;
}

.list dt {
    font-weight: bold;
    margin-right: 1rem;
}

dt::after {
    content: ': ';
}


a {
    color: var(--pb-link-color);
    text-decoration: none;
    
}