<app-drawer slot="drawer" align="right">
    <div class="drawer-content">
        <pb-media-query query="max-width: 1023px">
            <!-- language selector -->
       <!--     <pb-lang name="lang" data-template="pages:languages"/> -->
            <paper-button>
                <a href="${app}/index.html" data-template="pages:parse-params">Start</a>
            </paper-button>
            <paper-button>
                <a href="${app}/about.html" data-template="pages:parse-params">About</a>
            </paper-button>
        </pb-media-query>
    </div>
</app-drawer>