<footer>
        <div class="publisher-logos">
            <a href="https://teipublisher.com" target="_blank" title="Powered by TEI Publisher: sustainable publishing for humanities">
                <img class="powered-by" src="resources/images/tei-publisher-logo-contrast-bw.svg"/>
            </a>
            <a href="https://www.e-editiones.org" target="_blank" title="Powered by e-editiones: international non profit society bringing together edition projects, promoting open standards and community collaboration">
                <img class="powered-by" src="resources/images/e-editiones-logo-bw-inverted.svg"/>
            </a>
    </div>
    <div class="institutional-logos">
         <a href="https://www.unil.ch/lettres/fr/home.html" target="_blank" title="Université de Lausanne (logo)">
                <img src="resources/images/logo-unil.png"/>
        </a>
        </div>
        <div class="institutional-logos">
         <a href="https://www.univ-grenoble-alpes.fr" target="_blank" title="Université Grenoble Alpes (logo)">
                <img src="resources/images/logo-uga.png"/>
        </a>
    </div>
<div>
    <p><a href="mailto:grimm@unil.ch" target="_blank" title="Contact" style="color:#ffffff">Contactez-nous</a>
    <br/>Faculté des Lettres
    <br/>Université de Lausanne
        <br/>Anthropole - CH-1015 Lausanne
<br/>Suisse</p>
    </div>
</footer>
