<app-toolbar class="toolbar" sticky="sticky">
    <div id="toolbar-before" style="display: none"/>
    <paper-button id="tocToggle" class="toc-toggle" title="Select a text">
         <iron-icon icon="icons:view-carousel"/>
         <span style="margin-left: 0.5rem; text-transform: initial;"><pb-i18n key="menu.select">Select</pb-i18n></span>
    </paper-button>
     <p>
        <a href="about#help">
            <img src="resources/images/help.png" alt="help"/>
        </a>
    </p>
    <pb-search action="${app}/search" data-template="pages:parse-params" value="${query}" redirect="redirect" place-holder="search.text">
        <pb-custom-form emit="search" style="display:none">
            <input name="facet-tale" value="${tale}"/>
        </pb-custom-form>
    </pb-search>
    <paper-button toggles="true" id="scroll">
         <img src="resources/images/scroll-icon.svg" title="Sync versions by hovering on scroll" alt="mouse icon left click"/>
    </paper-button>
    <paper-button toggles="true" id="click">
        <img src="resources/images/click-icon.svg" title="Sync versions by clicking on segment" alt="mouse icon scroll wheel"/>
    </paper-button>
    <pb-zoom emit="transcription" direction="in" icon="icons:zoom-in"/>
    <pb-zoom emit="transcription" direction="out" icon="icons:zoom-out"/> 
</app-toolbar>
