<app-toolbar class="toolbar" sticky="sticky">
    <div id="toolbar-before" style="display: none"/>
    <div id="toolbar-start" style="display: none"/>
    <pb-grid-action action="add" class="grid-add" grid="#grid">
        <paper-button>
            <iron-icon icon="icons:view-carousel"/> <pb-i18n key="document.add-panel">Add</pb-i18n>
        </paper-button>
    </pb-grid-action>
    <paper-button toggles="true" id="scroll">
         <img src="resources/images/scroll-icon.svg" title="Sync versions by hovering on scroll" alt="mouse icon left click"/>
    </paper-button>
    <paper-button toggles="true" id="click">
        <img src="resources/images/click-icon.svg" title="Sync versions by clicking on segment" alt="mouse icon scroll wheel"/>
    </paper-button>
   
    <pb-zoom emit="transcription" direction="in" icon="icons:zoom-in"/>
    <pb-zoom emit="transcription" direction="out" icon="icons:zoom-out"/> 
</app-toolbar>