<app-toolbar class="toolbar" sticky="sticky">
    <div id="toolbar-before" style="display: none"/>
    <div id="toolbar-start" style="display: none"/>
    <pb-grid-action action="add" class="grid-add" grid="#grid">
        <paper-button>
            <iron-icon icon="icons:view-carousel"/> <pb-i18n key="document.add-panel">Add</pb-i18n>
        </paper-button>
    </pb-grid-action>
    <label for="scroll">
    <paper-button toggles="true" id="scroll">
        <iron-icon icon="icons:unfold-more"/>
    </paper-button>
    </label>
  <!--  <pb-zoom emit="transcription" direction="in" icon="icons:zoom-in"/>
    <pb-zoom emit="transcription" direction="out" icon="icons:zoom-out"/> -->
</app-toolbar>